<%- include("templates/header") %> 
<link rel="stylesheet" href="/css/changePassword.css">


<form class="security-question" action='/submitAnswer/<%= email %>' method='post'>
    <h3 class="question"><%= question%></h3>
    <input class="Security-answer"name="answer" type="text" placeholder="Security Answer">

   <div class="submit-button"> <button class="submit-question">Next</button> </div>
</form>
