<%- include("templates/header") %> 

<form id="forgot-password-form" action="/forgetPassword" method="post">
    <div>
    <label for="email">Enter your email:</label>
    <input type="email" id="email" name="email">
    <button type="submit" id="submit-email">Submit</button>
    </div>
    <div id="security-question-form" style="display: none;">
        <!-- the question from database will be added here -->
      <label for="security-question">Security question: </label> <br>
      <input type="text" id="security-question" name="security-question">
      <button type="submit" id="submit-security-question">Submit</button>
    </div>
  <br>
    <div id="change-password-form" style="display: none;">
      <label for="new-password">Enter new password:</label>
      <input type="password" id="new-password" name="new-password">
      <button type="submit" id="submit-new-password">Submit</button>
    </div>
  </form>
  