<%- include("templates/header") %> 

<link rel="stylesheet" href="/css/changePassword.css">
<div class="changePass_wrapper"><h3>Follow the steps to get your password changed</h3>
<div id="errorMessage"><%= message %></div>
<form id="forgot-password-form" action="/forgetPassword" method="post">
    <div class="email_change">
    <input type="email" id="email" name="email" placeholder="Enter your email">
    <div class="subEmail"><button type="submit" id="submit-email">next</button></div>

    </div>
  </form>
</div>
