<%- include("templates/header") %> 
<link rel="stylesheet" href="/css/changePassword.css">
<div class="changePass_wrapper"><h3>Follow the steps to get your password changed</h3>
<form id="forgot-password-form">
    <div class="email_change">
    <input type="email" id="email" name="email" placeholder="Enter your email">
    <button type="submit" id="submit-email">next</button>
    </div>
    <div id="security-question-form" style="display:none ;">
        <!-- the question from database will be added here -->
      <label for="security-question">Security question: </label> <br>
      <input type="text" id="security-question" name="security-question" placeholder="Security answer">
      <button type="submit" id="submit-security-question">next</button>
    </div>
  <br>
    <div id="change-password-form" style="display:none ;">
      <input type="password" id="new-password" name="new-password" placeholder="Enter new password">
      <button type="submit" id="submit-new-password">Submit</button>
    </div>
  </form>
</div>
  