<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom"><%= message %></h2>
    <form action='/signup' method='GET'><button class="btn btn-primary">Try Again</button></form>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <img id="cat-img" src="" style='width:250px;'>
    </div>
</div>
