
<%- include("templates/header") %>
<link rel="stylesheet" href="/css/changePassword.css">
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom"><%= message %></h2>
    <form action='/login' method='GET'>
      <button style="background-color: #7d5a50; color: #dcd0bf;" class="btn btn-light">Try Again</button>
    </form>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <img id="cat-img" src="" style='width:250px;'>
    </div>
</div>
