<%- include("templates/header") %> 
    <!-- list of ingredients-->
    <ul class="list-group">
        <% for (let i=0; i <list.length; i++) { %>
            <form method="POST" action="/updateLocalIngredient">
                <button type="submit" class="list-group-item" name="foodName" value="<%= list[i].Food %>">
                    <%= list[i].Food %>
                </button>
            </form>
            <% } %>
    </ul>

    <%- include("templates/footer") %>

