<%- include("templates/header") %>
    <style>
        .custom-button {
            width: 300px;
        }
    </style>

<div class="d-flex justify-content-center align-items-center flex-column py-5">
    <h1 class="text-center">List</h1>
    <input type="text" id="search-input" class="text-center" placeholder="Search ingredients...">
  </div>
    
    <ul class="list-group list-unstyled align-items-center">

        <% for(let i=0; i < list.length ; i++) { %>
            <li>
                <!--div for content in list-->
                <div>
                    <form method="POST" action="/updateLocalIngredient">
                        <button type="submit" id="ingredient-List" class="btn btn-light custom-button" name="foodName"
                            value="<%= list[i].Food %>" data-ingredient="<%= list.Food %>">
                            <%= list[i].Food %>
                        </button>
                    </form>
                </div>
            </li>
            <% } %>
    </ul>
    <script src="/js/lists.js"></script>