<%- include("templates/header") %> 

<h1>List</h1>
<!-- list of ingredients-->


<input type="text" id="search-input" placeholder="Search ingredients...">
<ul >     

    <!-- iterate over list of ingredients-->
    <% for(let i = 0; i < list.length ; i++) { %>
        <li > 
            <!--div for content in list-->
            <div class=" row mb-3 text-center">
                <div class="col-md-3 themed-grid-col p-2" id="ingredient-List" data-ingredient="<%= list.Food %>">
                    <!--name of ingredient at index i-->
                    <%= list[i].Food%> 
                </div>
            </div>
            
        </li>
    <% } %> 
</ul>

<script src="/js/lists.js"></script>
