<%- include("templates/header") %>
    <%- include("templates/navbar") %>
        <link rel="stylesheet" href="/css/members.css" />

        <div class="members-wrapper">
            <div class="header">
                <h1><img class="logo" src="/img/logo-no-background.png" alt="logo-no-background"><b>PantryPal</b></h1>
            </div>

            <div class="counter">
                <div class="calorie">calorie counter</div>
                <div class="caffeine">caffeine counter</div>
            </div>

            <div class="recipe">recipe</div>
        </div>
        <%- include("templates/footer") %>