<%- include("templates/header") %>

<h1 style="color: aliceblue;"> Find a Recipe</h1>

<p  style="color: aliceblue;"><%= recipe %></p>

<%- include("templates/navbar") %>
<%- include("templates/footer") %>