<%- include("templates/header") %>
<link rel="stylesheet" href="/css/signup.css" />

<div class="signup_wrapper">
  <h3>Let's set up your account </i></h3>



  <form action="/submitUser" method="post">
    <input type="hidden" name="dietaryPreferences" id="dietaryPreferencesInput" />
    <fieldset class="py-5">
      <legend>Set your dietary preferences <b>(Optional)</b>:</legend>
      <button type="button" data-item="Keto" class="dietary-button">Keto</button>
      <button type="button" data-item="Gluten-free" class="dietary-button">Gluten-free</button>
      <button type="button" data-item="Vegan" class="dietary-button">Vegan</button>
      <button type="button" data-item="Vegetarian" class="dietary-button">Vegetarian</button>
      <button type="button" data-item="Lactose-free" class="dietary-button">Lactose-free</button>
      <button type="button" data-item="Pescatarian" class="dietary-button">Pescatarian</button>
      <button type="button" data-item="Kosher" class="dietary-button">Kosher</button>
      <button type="button" data-item="Low Carb" class="dietary-button">Low Carb</button>
    </fieldset>

    <div class="input-group mb-3">
      <label
        class="input-group-text"
        for="inputGroupSelect01"
        style="font-size: 5pt; background-color: rgb(249, 234, 215); "
        ></label
      >
      <select
        style="font-size: 15px; background-color: rgb(249, 234, 215);"
        class="form-select required"
        id="inputGroupSelect01"
        name="question"
      >
        <option selected value="0">Select a security question</option>
        <option value="1">What is the name of your hometown?</option>
        <option value="2">What is your first car?</option>
        <option value="3">What was your first pet's name?</option>
        <option value="4">What did you want to be growing up?</option>
        <option value="5">Who is your favorite author?</option>
      </select>
    </div>
      <div>
      <input
        class="security px-2 py-2"
        name="answer"
        type="text"
        placeholder="Security Answer"
        
      />
    </div>
    

    <div>
      <input class="email" name="email" type="text" placeholder="email" />
    </div>
    <div>
      <input
        class="username"
        name="username"
        type="text"
        placeholder="username"
      />
    </div>
    <div>
      <input
        class="password"
        name="password"
        type="password"
        placeholder="password"
      />
    </div>

    <button type="submit">Get started</button>
  </form>
</div>


<script src="/js/signup.js"></script>

<%- include("templates/navbar") %>
<%- include("templates/footer") %>


