body{
    background-color: black;
}

h3{
    color: aliceblue;
    font-size: 20pt;
    
}
.changePass_wrapper{
    background-color: rgba(204, 131, 131, 0.548);
    display: grid;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin:1.5em;
    
}
button{
    padding: 15px;
    width: 200px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 8px;
    background-color: rgb(249, 219, 219);
    font-size: 13pt;
}
label{
    font-size: 11pt;
    color: rgb(60, 39, 39);
}
.email_change{
    margin-top: 15px;
}
#security-question-form{
    margin-top: 15px;
}
#change-password-form{
    margin-top: 15px;
}
#email{
    border-radius: 7px;
    height: 40px;
    margin: 8px;
    border-color: aliceblue;
    padding-left: 8px;
}
#security-question{
    border-radius: 7px;
    height: 40px;
    margin: 8px;
    border-color: aliceblue;
    padding-left: 8px;
}
#new-password{
    border-radius: 7px;
    height: 40px;
    margin: 8px;
    border-color: aliceblue;
    padding-left: 8px;
}