body{
    background-color: rgb(0, 0, 0);
}

h3{
    color: aliceblue;
    font-size: 20pt; 
}

/*************change Password css **************/
.changePass_wrapper{
    background-color: rgba(204, 131, 131, 0.548);
    display: grid;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin:1.5em;
    margin-top: 50%;
    
}
#submit-email{
    padding: 15px;
    width: 200px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
  
    margin-top: 8px;
    background-color: rgb(249, 219, 219);
    font-size: 13pt;
   
}
.subEmail{
    text-align: center; /* center horizontally */
    display: flex; /* enable flexbox layout */
    justify-content: center; /* center vertically */
    align-items: center; /* center vertically */  
}
label{
    font-size: 11pt;
    color: rgb(60, 39, 39);
}
.email_change{
    margin-top: 15px;
}
#security-question-form{
    margin-top: 15px;
}
#change-password-form{
    margin-top: 15px;
}
#email{
    border-radius: 7px;
    height: 40px;
    margin: 8px;
    border-color: aliceblue;
    padding-left: 8px;
    width: 80vw;
}
#security-question{
    border-radius: 7px;
    height: 40px;
    margin: 8px;
    border-color: aliceblue;
    padding-left: 8px;
}
#new-password{
    border-radius: 7px;
    height: 40px;
    margin: 8px;
    border-color: aliceblue;
    padding-left: 8px;
}
/************************ ************/
.security-question{
    background-color: rgba(204, 131, 131, 0.548);
    display: grid;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin:1.5em;
    margin-top: 50%;   
}
.Security-answer{
    padding: 11px;
    font-size: 13pt;
    border-radius: 10px;
}
.submit-question{
    padding: 15px;
    width: 200px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    /* margin-left: 50px; */
    margin: 8px auto;
    margin-top: 8px;
    background-color: rgb(249, 219, 219);
    font-size: 13pt; 
}
.question{
    text-align: center;
    color: rgb(21, 20, 20);
}

/**********************correctAnswer ****************8*/

.changePass_wrapper{
    background-color: rgba(204, 131, 131, 0.548);
    display: grid;
    border-radius: 20px;
    height: 30%;
    padding: 20px;
    margin:1.5em;
    margin-top: 50%;   
}
#submit-new-password{
    padding: 15px;
    width: 200px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    /* margin-left: 50px; */
    margin: 8px auto;
    background-color: rgb(249, 219, 219);  
}
.newPassButton{
    text-align: center; /* center horizontally */
    display: flex; /* enable flexbox layout */
    justify-content: center; /* center vertically */
    align-items: center; /* center vertically */ 
}
#new-password{
    padding: 11px;
    font-size: 20pt;
    border-radius: 10px;
}
.username{
    font-size: 20pt;
}
.label{
    font-size: 20pt;
}