body {
    background-color: #B4846C;
    margin-top: 25%;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: #564225;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 20px;
}

input {
    background-color: rgb(249, 234, 215);
    border-radius: 10px;
    border-style: none;
}



/*************change Password css **************/
.changePass_wrapper {

    background-color: #e5b299;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin: 1.5em;
}

#submit-email {
    padding: 13px;
    width: 200px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 17px;
    background-color: #7d5a50;
    border-style: hidden;
    color: #dcd0bf;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
}

.subEmail {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email_change {
    margin-top: 15px;
}


/*************change Password css **************/


#security-question-form {
    margin-top: 15px;
}

#change-password-form {
    margin-top: 15px;
}

#email {
    border-radius: 7px;
    height: 40px;
    margin: 10px;
    background-color:rgb(249, 234, 215);
    border-style: none;
    padding-left: 10px;
}

#security-question {
    border-radius: 7px;
    height: 40px;
    margin: 8px;
    border-color: aliceblue;
    padding-left: 8px;
}

#new-password {
    border-radius: 7px;
    height: 40px;
    margin: 8px;
    border-color: aliceblue;
    padding-left: 8px;
}


/************************ answer question ************/
.security-question {
    background-color: #e5b299;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin: 1.5em;
}

.Security-answer {
    padding: 11px;
    font-size: 13pt;
    border-radius: 10px;
}

.submit-question {
    padding: 13px;
    width: 200px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 17px;
    background-color: #7d5a50;
    border-style: hidden;
    color: #dcd0bf;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
}
.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    color: #564225;
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

/**********************correctAnswer ****************8*/
    .changePass_wrapper {
    background-color: #e5b299;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin: 1.5em;
    }
    
#submit-new-password {
    padding: 13px;
    width: 200px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 17px;
    background-color: #7d5a50;
    border-style: hidden;
    color: #dcd0bf;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
}

.newPassButton {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
}

.username {
    font-size: 20pt;
    font-weight: bold;
}

.label {
    font-size: 12pt;
    margin-top: 10px;
    font-weight: lighter;
}

