body{
    background-color: #B4846C;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}
#search-input{
    border-radius: 10px;
    border: hidden;
    height: 35px;
    margin-bottom: -40px;
}
h1{
    padding-bottom: 20px;
}
.done{  
    margin-bottom: 10px;
    padding: 13px;
    width: 200px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #7d5a50;
    border-style: hidden;
    color: #dcd0bf;
    font-size: 18pt;
    font-family:'Times New Roman', Times, serif;
}
#stickyBtn{
   
position: sticky;
}
.done-btn{
    display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
}
#ingredient-List{
    border: none;
}