body{
    background-color: #B4846C;
    margin-top: 25%;
}
h3{
    color: #564225;
    font-size: 20pt;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
}
.login_wrapper{
    background-color: #e5b299;
    display: grid;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin:1.5em;
}
.login_email, .login_password{
    border-radius: 7px white;
    height: 40px;
    margin: 10px;
    border-color: aliceblue;
    padding-left: 8px;
}
button{
    padding: 13px;
    width: 200px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 17px;
    background-color: #7d5a50;
    border-style: hidden;
    color: #dcd0bf;
    font-size: 18pt;
    font-family:'Times New Roman', Times, serif;
 
    
}
input{
    background-color:rgb(249, 234, 215);
    border-radius: 10px;
    border-style: none;
}

a{
    color: #564225;
}
