

body{
    background-color: #B4846C;
}

.logo{
    height: 100px;
    width: 100px;
    margin: 5px;
} 
#recipe-container{
    background-color: #e5b299;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin:1.5em; 
}


h2{
    color: aliceblue;  
}
  #nutritionCard{
    background-color: rgba(204, 131, 131, 0.548);
}

#nutritionCard .btn{

    background-color: rgb(249, 219, 219);
    font-size: 13pt;
    border-color: black;
}


  

