

body{
    background-color: #B4846C;
}

.logo{
    height: 100px;
    width: 100px;
    margin: 10px;
} 
#recipe-container{
    background-color: #e5b299;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin:1.5em; 
}

h1{
    color: rgb(110, 54, 54);  
    font-size: 30px;
    font-weight: bold;
}
h2{
    margin-left: 10px;
}

h5{
    padding-top: 10px;
}

#nutritionCard .btn{
    background-color: rgb(249, 219, 219);
    font-size: 10pt;
    border-color: black;
}

div{
    color:rgb(54, 28, 3)
}



.icon-container {
    position: relative;
  }
  
  .bi-heart,
  .bi-heart-fill {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .bi-heart-fill {
    display: none;
  }
  

.icon-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
h5{
    grid-column:1/3;
    
}

.bi-heart,
.bi-heart-fill {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: 80px;
    /* margin-top: -5px; */
}
  
#nutritionCard{
    background-color: rgb(171, 102, 82);
    margin: 10px;
    border-radius: 20px;
    width: 170px;
    height: 150px;
    float: right;
}

.calorie-btn{
    border: hidden;
    margin: 10px;
    width: 80px; /* Adjust the width and height as needed */
    height: 80px;
    border-radius: 50%;
}

.bi-fire{
    text-align: center;
    padding-right: 10px;
    color: rgb(128, 31, 31);
}

/****** generated recipe section ********/
.generate-recipe {
    position: relative;
    padding: 12px 35px;
    background: #EADDCA;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: hidden;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
    border-radius: 15px;
    float: right;
    padding: 25px;
    margin-left: 10px;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
  }
  
  .generate-recipe:hover {
    background: transparent;
    color: #FEC195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  .generate-recipe:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .generate-recipe:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .generate-recipe:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .generate-recipe:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .generate-recipe:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .generate-recipe:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #FFFDEF
  }
  /* **************************** */

  
  /* ******** delete recipe section **************/
  button {
    width: 145px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgb(33, 11, 11);
    border: none;
    /* box-shadow: 1px 1px 3px rgba(0,0,0,0.15); */
    background: #803419;
    border-radius: 15px;    
   }
   
   button, button span {
    transition: 200ms;
   }
   
   button .text {
    transform: translateX(35px);
    color: white;
    /* font-weight: bold; */
   }
   
   button .icon {
    position: absolute;
    border-left: 1px solid #ff7605;
    transform: translateX(110px);
    height: 40px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   button svg {
    width: 15px;
    fill: #eee;
   }
   
   button:hover {
    background: #ff00009e;
   }
   
   button:hover .text {
    color: transparent;
   }
   
   button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   button:focus {
    outline: none;
   }
   
   button:active .icon svg {
    transform: scale(0.8);
   }

 /* two buttons div inside the generated recipe box */
 .delete-generate-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
 }