/* Style the navbar */
#navbar {
  margin: 0;
  padding: 0;
}

#navbar {
    overflow: hidden;
    background-color: #42170b;
    position: fixed;
    bottom: 0;
    width: 100vh;
    border-radius: 10px 10px 0 0;
    
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
     padding: 14px;
  }
  
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed-bottom;
    width: 100vh;
  }
  
  .bi{
    font-size: 2em;
    padding-left: 15px;
  }
  .navbar{
    margin-top: 50px;
  }

  
