



/* body{
  background-color: black;
  display: flex;
      justify-content: center;
      align-items: center;
}
h3{
  color: aliceblue;
  
}
#nutritionCard{
  background-color: rgba(204, 131, 131, 0.548);
}

#nutritionCard .btn{

  background-color: rgb(249, 219, 219);
  font-size: 13pt;
  border-color: black;
  
} */

/* #test2{
  background-color: rgba(204, 131, 131, 0.548);
} */

/* Progrss Ring */

.progress-ring__circle {
  animation: spin 5s  linear;
  transition: 3s;
  transform: rotate(265deg);
  transform-origin: 50% 50%;
  stroke-dashoffset: 347;
  border-radius: 5px;
  border-color: black;
  
}

.pT{
  display: d-flex;
  align-items: center;
  justify-content: center;
  
 
  
}
svg{
  margin-left: 35%;
  margin-bottom: 5%;
}