/*** index.ejs ****/

*{
    background-color: black;
}
.login_signup_wrapper{
    margin: 6em;
    margin-top: 150px;
    height: 100%;
    padding: 1em;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;   
    grid-template-areas: 
    "img"
    "login"
    "signup";
}

.login, .signup {
  border: solid;
  border-radius: 30px;
  text-align: center;
  background-color: rgb(127, 67, 67);
  color: rgb(240, 209, 207);
  padding: 18px;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 100px;
  text-decoration: none;
}

.logo{
    width:700px;
}
.index-img{
    grid-area: img;
    margin: 30px;
   
}

.login_div{
   grid-area: login;
   margin: 70px;
   margin-top: 150px;

}
.signup_div{
  grid-area: signup;
  margin: 70px;
}


