/*** index.ejs ****/

body{
    background-color: #B4846C;
    margin-left: 0 !important;
    font-family:'Times New Roman', Times, serif;
}
.login_signup_wrapper{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 0.2fr 0.5fr ;   
    grid-template-areas: 
    "img"
    "login"
    "signup";
}

.login, .signup {
  border: solid ;
  border-radius: 10px;
  text-align: center;
  background-color: #ebc3af;
  color: #564225;
  font-size: 20pt;
  text-decoration: none;
  padding-right: 20%;
  padding-left: 20%;
}
.login{
  margin-top: 20%;
  padding-right: 24%;
}

.logo{
    width:320px;
    margin-top: 20%;
}
.index-img{
    grid-area: img; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_div{
   grid-area: login;
   display: flex;
   align-items: center;
   justify-content: center;
}
.signup_div{
  display: flex;
   align-items: center;
   justify-content: center;
}

.signup_div{
  grid-area: signup;
}


.index-img.animate {
  animation: beat 0.7s 4 normal;
  transform-origin: center;
}

@keyframes beat{
  to { transform: scale(1.2); }
}



