
<!-- navbar css -->
<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar">
    <div id="navbar">
      <!-- <a href="#home">Home</a> -->
      
      <a href=""><i class="bi bi-house-door-fill" ></i></a>
      <a href=""><i class="bi bi-person-fill" ></i></a>
      <a href=""><i class="bi bi-journal-bookmark"></i></a>
      <a href=""><i class="bi bi-basket2-fill"></i></a>
      
    </div>
  </nav>


  
<script src="/js/navbar.js"></script>