<!-- navbar css -->
<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar">
    <div id="navbar">
      
      <a href="/loggedin/members/false"><i class="bi bi-house-door" ></i></a>
      <a href="/loggedin/profile"><i class="bi bi-person" ></i></a>
      <a href="/loggedin/recipes"><i class="bi bi-journal-bookmark"></i></a>
      <a href="/loggedin/todo"><i  class="bi bi-card-checklist"></i></a>
      <a href="/loggedin/searchRecipe"><i class="bi bi-search"></i></i></a>
      
    </div>
  </nav>


  
<script src="/js/navbar.js"></script>